@charset "UTF-8";

@media screen and (min-width: 768px) {
    .container{
        grid-template-areas: "h h" "m a" "f f";
    }

    header{
        background-color: black;
    
        grid-area: h;
    }
    
    .header > .logo {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 1rem;
    }
    
    .header > .logo > img{
        height: 80%;
        margin-top: 1rem;
    }
    
    main{
        background-color: white;
    
        
        grid-area: m;
    }
    aside{
        background-color: yellow;
        display: block;
        
        grid-area: a;
    }
    footer{
        background-color: var(--cor2);
    
        
        grid-area: f;
    }
}

@media screen and (min-width: 992px) {
    nav > .menu > i{
        display: none;
    }

    nav > ul#itens {
        display: flex;
        flex-direction: row;
        top: unset;
        right: 100px;
        gap: 1rem;
    }
}