@charset "UTF-8";

@media screen and (min-width: 500px){
    main section.topo{
        padding: 2rem;
        font-size: 1rem;
        text-indent: 1rem;
        line-height: 1.5rem;
    }
}

@media screen and (min-width: 768px) {


    header{
        background-color: black;
    
        grid-area: h;
    }
    
    .header > .logo {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 1rem;
    }
    
    .header > .logo > img{
        height: 80%;
        margin-top: 1rem;
    }
    
    main{
        background-color: white;
    
        
        grid-area: m;
    }

    footer{
        background-color: var(--cor2);
    
        
        grid-area: f;
    }
}

@media screen and (min-width: 992px) {
    .container{
        grid-template-areas: "h h" "m a" "m a" "f f";
    }

    .header > nav > ul{
        animation: unset;
    }
    
    nav > .menu > i{
        display: none;
    }

    nav > ul#itens {
        display: flex;
        flex-direction: row;
        top: unset;
        gap: 1rem;
    }

    aside{
        background-color: rgb(255, 255, 255);
        display: block;
        
        grid-area: a;
    }
}