@charset "UTF-8";

@media screen and (max-width: 500px){

    .header > .logo > img {
        width: 10rem;
    }

    .header > nav > ul{
        top: 3rem;
    }

    main section.topo{
        padding: 2rem;
        font-size: 1rem;
        text-indent: 1rem;
        line-height: 1.5rem;
    }

    main section.image p{
        font-size: 2rem;
    }

    main section.topo > div.button > a{
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        padding: .5rem;
        text-decoration: none;
    }

    .itens{
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
    }

    .itens > .item-group > .item >a > img{
        width: 4rem;
        height: 4rem;
        margin-top: .5rem;
        margin-left: .5rem;
    }
    
    .itens > .item-group > .item >a.p{
        font-size: .7rem;
        text-decoration: none;
        color: black;
    }

    footer .contato{
        gap: 0.5rem;
        margin-right: 1rem;
    }

    @keyframes logo-cmi{
        0%{
            height: 0px;
            opacity: 0;
        }
        100%{
            height: 48px;
        }
    }
}

@media screen and (min-width: 500px) {
    footer {
        font-size: .75rem;
    }
}

@media screen and (min-width: 768px) {


    header{
        background-color: black;
    
        grid-area: h;
    }
    
    .header > .logo {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 1rem;
    }
    
    .header > .logo > img{
        height: 80%;
        margin-top: 1rem;
    }
    
    main{
        background-color: white;
    
        
        grid-area: m;
    }

    footer{
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .container{
        grid-template-areas: "h h" "m a" "m a" "f f";
    }

    .header > nav > ul{
        animation: unset;
    }
    
    nav > .menu > i{
        display: none;
    }

    nav > ul#itens {
        display: flex;
        flex-direction: row;
        top: unset;
        gap: 1rem;
    }

    aside{
        background-color: rgb(255, 255, 255);
        display: block;

        grid-area: a;
    }

    .itens{
        gap: 0px;
    }

    .itens > .item-group{
        margin: 0;
        padding: 0;
    }

    .itens > .item-group > .item >a > img{
        width: 16rem;
        height: 16rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }
}