@charset "UTF-8";

:root{
    --cor1: #D9DB49;    
    --cor2: #DDDE1A;
    --cor3: #DBC200;
    --cor4: #8e6d00;
    --cor5: #0015ff52;

    --font1:"Inter", sans-serif;

    --font2:"Poppins", sans-serif;;
}

body, html{
    margin: 0;
}

.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    background-color: var(--cor2);
}

.slider-content{
    width: 400%;
    height: 640px;
    display: flex;
}

.slider-content input,.img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: 600px;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 2rem;
    height: 100%;
    object-fit: cover;
}

.nav-auto, .nav-manual{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 635px;
    margin-left: 0px;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid var(--cor4);
    padding:10px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: var(--cor4);
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: var(--cor4);
    transition: 0.2s;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width:1200px) {
    .slide-box img{
        max-width: 75%;
    }
}
@media screen and (max-width:992px) {
    .nav-auto, .nav-manual{   
        margin-left: 0px;
    }
}

@media screen and (max-width: 768px) {
    .slider-content{
        height: 320px;
    }
    .slide-box img{
        height: 300px;
    }
    .nav-auto, .nav-manual{   
        margin-top: 325px;
    }
}