@charset "UTF-8";

html , body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 10vh 85vh 5vh;

    grid-template-areas: "h h" "m m" "f f";

    height: 100%;
    width: 100%;
}











header{
    background-color: blue;

    grid-area: h;
}
main{
    background-color: green;

    
    grid-area: m;
}
aside{
    background-color: yellow;

    
    grid-area: a;
}
footer{
    background-color: red;

    
    grid-area: f;
}